.toast {
  min-width: 300px;
  margin-bottom: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.toast-header {
  border-bottom: none;
}

.btn-close-white {
  filter: brightness(0) invert(1);
}
