<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu" aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<h1 class="navbar-brand navbar-brand-autodark">
  <a href=".">
    <img src="images/placeholder.png" width="110" height="32" alt="Brand" class="navbar-brand-image" />
  </a>
</h1>

<div class="collapse navbar-collapse" id="sidebar-menu">
  <ul class="navbar-nav pt-lg-3">
    @for (item of sidebarItems; track item; let i = $index) {
      @if (shellService.allowedAccess(item)) {
        @if (!item.divider) {
          @if (item.subItems && item.subItems.length) {
            <!-- Menu item with dropdown -->
            <li class="nav-item dropdown" [class.active]="item.active">
              <a
                class="nav-link dropdown-toggle"
                href="#navbar-{{ item.title }}"
                data-bs-toggle="dropdown"
                data-bs-auto-close="false"
                role="button"
                [attr.aria-expanded]="sidebarExtendedItem === i"
                [class.show]="sidebarExtendedItem === i"
                (click)="activateSidebarItem(i)"
              >
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  @if (item.icon) {
                    <i class="ti ti-{{ item.icon }} icon"></i>
                  } @else {
                    <i class="ti ti-folder icon"></i>
                  }
                </span>
                <span class="nav-link-title">{{ item.title | translate }}</span>
              </a>
              <div class="dropdown-menu" [class.show]="sidebarExtendedItem === i" [attr.id]="'navbar-' + item.title">
                <div class="dropdown-menu-columns">
                  <div class="dropdown-menu-column">
                    @for (subItem of item.subItems; track subItem) {
                      @if (shellService.allowedAccess(subItem)) {
                        <a class="dropdown-item" [routerLink]="subItem.href || undefined" routerLinkActive="active" (click)="activateSidebarSubItem(i, subItem)" [class.disabled]="subItem.disabled">
                          @if (subItem.icon) {
                            <i class="ti ti-{{ subItem.icon }} icon dropdown-item-icon"></i>
                          }
                          {{ subItem.title | translate }}
                        </a>
                      }
                    }
                  </div>
                </div>
              </div>
            </li>
          } @else {
            <!-- Regular menu item -->
            <li class="nav-item" [class.active]="item.active">
              <a class="nav-link" [routerLink]="item.href || undefined" (click)="activateSidebarItem(i)" [class.disabled]="item.disabled">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  @if (item.icon) {
                    <i class="ti ti-{{ item.icon }} icon"></i>
                  } @else {
                    <i class="ti ti-point icon"></i>
                  }
                </span>
                <span class="nav-link-title">{{ item.title | translate }}</span>
              </a>
            </li>
          }
        } @else {
          <!-- Divider -->
          <li class="nav-item">
            <hr class="navbar-divider my-3" />
          </li>
        }
      }
    }
  </ul>
</div>
