<div class="container-xl">
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title" translate>Contact Us</h2>
      </div>
    </div>
  </div>

  <div class="page-body">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">
        <div class="card">
          <div class="card-body text-center py-5">
            <span class="avatar avatar-lg mb-3 bg-azure-lt">
              <i class="ti ti-mail" style="font-size: 1.75rem"></i>
            </span>
            <h3 class="card-title mb-1" translate>Get in touch</h3>
            <p class="text-secondary mb-4" translate>Have a question? Reach out to us by email and we'll get back to you.</p>
            <a class="btn btn-azure" [href]="'mailto:' + contactEmail">
              <i class="ti ti-mail me-2"></i>
              {{ contactEmail }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
